# fly.toml app configuration file generated for social-research-api-v3-xsrbtw on 2026-01-14T07:06:29Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'social-research-api-v3-xsrbtw'
primary_region = 'cdg'

[build]

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1


[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
